body{
  background-color: hsl(30, 38%, 92%);
    margin: 200px auto;
}
h1{
  float: right;

}
h7 {

font-family: 'Montserrat', sans-serif;
letter-spacing: 5px;
color:#808080c4;
font-size: smaller;

}
img{
  border-radius: 10px 0 0 10px;
height: 100%;
    width: 50%;
    float: left;
    margin : 0;
}
p{
  font-family: 'Montserrat', sans-serif;
  color:#808080c4;
  font-size: smaller;

}
.actual-price{
  color:#808080c4;
  float: right;
  margin: 10px;
  text-decoration: line-through;
}

.btn {
-webkit-border-radius: 13;
-moz-border-radius: 13;
border-radius: 13px;
color: #ffffff;
    margin: 20px 20px 0 20px;
font-size: 15px;
font-family: 'Montserrat', sans-serif;
background: hsl(158, 36%, 37%);
padding: 15px 40px 15px 40px;
text-decoration: none;
}




.container{
  border-radius: 10px;

  width: 600px;
height: 450px;
    margin: 100px auto;
  }

  .discounted-price{
    color: hsl(158, 36%, 37%);
font-size: 30px;
font-style: oblique;
  font-family: 'Fraunces', serif;
  }

  .price{
    margin: 30px 0;

  }
  .product-desc{
    margin: 30px;
  }

  .product-desc-container{
    background-color: white;
    border-radius: 0 10px 10px 0;

height: 100%;
    /* padding: 20px; */
      width: 50%;
      float: right;
    word-wrap: break-word;
  }
  .product-name{
    font-family: 'Fraunces', serif;

  }
